.actions {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.inset {
  background: #000;
  border-radius: 1rem;
}

.options-modal-open {
  bottom: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 1rem;
}

.restaurant {
  height: 8rem;
  font-size: 1rem;
  line-height: 1.7rem;
  margin: 1rem 0;
}

.restaurant-name {
  font-size: 2rem;
}

.restaurant-kids {
  margin-top: 1rem;
}
